name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install PyMuPDF==1.26.6 Pillow==11.0.0 tkinterdnd2==0.4.3 ghostscript==0.7
          pip install py2app pyinstaller

      - name: Build on macOS
        if: runner.os == 'macos-latest'
        run: python setup.py py2app

      - name: Build on Linux
        if: runner.os == 'ubuntu-latest'
        run: pyinstaller --onefile main.py

      - name: Build on Windows
        if: runner.os == 'windows-latest'
        shell: powershell
        run: pyinstaller --onefile main.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-executable
          path: dist/*
  
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
