name: Build PDF Compressor

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install PyMuPDF==1.26.6 Pillow==11.0.0 tkinterdnd2==0.4.3 ghostscript==0.7
        pip install py2app pyinstaller

    - name: Build executable (Windows)
      if: matrix.os == 'windows-latest'
      run: pyinstaller --onefile main.py

    - name: Build executable (macOS)
      if: matrix.os == 'macos-latest'
      run: python setup.py py2app

    - name: Build executable (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: pyinstaller --onefile main.py

    - name: Upload executables
      uses: actions/upload-artifact@v3
      with:
        name: pdf-compressor-${{ matrix.os }}
        path: |
          dist/*
