name: Build PDF Compressor

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyMuPDF Pillow tkinterdnd2 pyinstaller py2app

      - name: Build executable
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
              pyinstaller --onefile main.py
              cp dist/main.exe dist/PDFCompressor-windows.exe
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
              pyinstaller --onefile main.py
              cp dist/main dist/PDFCompressor-linux
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
              python setup.py py2app
              cp -r dist/*.app dist/PDFCompressor-macos.app
          fi

      - name: Upload executables to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: "dist/*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
